body,
p,
span,
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    font-family: 'Sofia', sans-serif !important;
}







.margin-right-05 {
    margin-right: 0.5rem;
}

.margin-right-1 {
    margin-right: 1rem;
}

.margin-right-2 {
    margin-right: 2rem;
}

.margin-bottom-1 {
    margin-bottom: 1rem !important;
}

.margin-bottom-2 {
    margin-bottom: 2rem !important;
    @media screen and (max-width: 39.9375em) {
        margin-bottom: 1rem !important;

    }
}

.margin-bottom-05 {
    margin-bottom: 0.5rem !important;
}

.padding-left-2 {
    padding-left: 2rem !important;
}

.padding-center {
    padding: 2rem 0;

    @media screen and (max-width: 39.9375em) {
        padding: 1rem 0;

    }

}

.border-bottom {
    border-bottom: 1px solid $dark-gray
}

.purple-color {
    color: $purple-color !important
}

.pink-color {
    color: $pink-color !important
}

.image-radius {
    border-radius: 16px
}

.separator-image {
    @media screen and (max-width: 39.9375em) {
        min-height: 175px;
        max-height: 175px;
        object-fit: cover;
        width: 100%;
    }

}

.headline {
    position: relative;
    .title {
        font-size: 30px;
        font-weight: 400;

        @media screen and (max-width: 39.9375em) {
            font-size: 16px;
        }
    }

    .subtitle {
        font-size: 35px;
        font-weight: 400;

        @media screen and (max-width: 39.9375em) {
            font-size: 12px;
        }
    }

    .cta-buttons-container {

        @media screen and (max-width: 39.9375em) {
            position: absolute;
          
            text-align: center;
            left: 0;
            right: 0;
            display: block;
            width: 100%;
            padding: 0 2rem;
            bottom: -35px;
          


        }

        .cta-buttons {
            font-size: 22px;
            border-radius: 46px;

            background: #FF8089;
            padding: 0.5rem 2rem;
            color: white;
            font-weight: 700;
            text-align: center;
            box-shadow: 0px 3px 6px #00000028;

            @media screen and (max-width: 39.9375em) {
                font-size: 16px;
                display: block;
            }
        }

    }

    .cta-button-2 {
        font-size: 30px;
        border-radius: 30px;

        background: #590C96;
        padding: 0.5rem 2rem;
        color: white;
        font-weight: 700;
        box-shadow: 0px 3px 6px #00000028;

    }

    ul,
    li {
        font-size: 16px;
        color: $purple-color;
        margin-bottom: 1rem;
        font-weight: 700;

        @media screen and (max-width: 39.9375em) {
            font-size: 12px;
        }
    }

}

.cta-buttons-small {
    font-size: 18px;


    color: white;
    font-weight: 700;
    background: $purple-color;
    padding: 0.5rem 1rem;
    border-radius: 40px;
    box-shadow: 0px 3px 6px #00000028;
    &:hover{
        color: white;
    }
    @media screen and (max-width: 39.9375em) {
        font-size: 12px;

    }
}

.arrow-bottom {
    height: 20px;
    width: 20PX;

    @media screen and (max-width: 39.9375em) {
        height: 15px;
        width: 15PX;

    }
}

.bold {
    font-weight: 700;
}

.devider-icon {
    width: 40px;

    @media screen and (max-width: 39.9375em) {

        width: 25px;

    }
}

.arrow-icon {
    height: 40px;
    width: 40PX;

    @media screen and (max-width: 39.9375em) {
        height: 20px;
        width: 20px;

    }

}

.app-section {
    p {
        font-size: 16px;

        @media screen and (max-width: 39.9375em) {
            font-size: 12px;

        }
    }

    .border-callout {
        font-size: 15px;
        padding: 1rem;
        font-weight: 700;
        text-align: center;
        color: $purple-color;
        border: 3px solid $purple-color;
        border-radius: 15px;
        margin-bottom: 1rem;

        @media screen and (max-width: 39.9375em) {
            font-size: 12px;
            border: 2px solid $purple-color;
            padding: 0.5rem;
            border-radius: 5px;
            margin-bottom: 0.5rem;
        }
    }

    .image {
        padding: 1rem;
        width: 100%;

        @media screen and (max-width: 39.9375em) {

            width: 50%;
        }
    }

}



.learning-section {
    position: relative;

    @media screen and (max-width: 39.9375em) {
        padding: 2.5rem 0;

    }

    .flex-container {
        margin-left: 1rem;

        @media screen and (max-width: 39.9375em) {
            margin-left: 0.6rem;

        }

        flex-wrap: wrap;
        align-content: space-between;

        .flex-item {
            flex: 20%;
            margin-right: 1rem;

            @media screen and (max-width: 39.9375em) {

                flex: 45%;
                margin-right: 0.6rem;

            }
        }

        .last-child {
            @media screen and (max-width: 39.9375em) {
                flex-grow: 0;
                margin-left: 27%;
            }

        }
    }

    h3 {
        color: $purple-color;
        font-size: 30px;
        font-weight: 700;

        @media screen and (max-width: 39.9375em) {
            font-size: 16px;

        }

    }

    p {
        font-size: 22px;
        font-weight: 700;
        color: #0B273F;

        @media screen and (max-width: 39.9375em) {
            font-size: 14px;

        }
    }

    .callout {
        font-size: 16px;
        font-weight: 700;
        padding: 0.5rem 1rem;
        background: white;
        border-radius: 15px;
        margin-bottom: 2rem;
        text-align: center;
        min-height: 60px;
        line-height: 60px;
        box-shadow: 0px 3px 6px #73727263;

        @media screen and (max-width: 39.9375em) {
            font-size: 14px;
            margin-bottom: 1rem;
            padding: 0.3rem 1rem;
        }

    }

    .callout span {
        line-height: 1.5;
        display: inline-block;
        vertical-align: middle;
    }

    .bottom {
        position: absolute;
        bottom: -20px;
        width: 100%;
        left: 0;
        right: 0;


    }

    .cta-button-2 {
        font-size: 22px;
        color: white;
        border-radius: 31px;
        padding: 0.7rem 2.5rem;
        background: $purple-color;
        box-shadow: 0px 3px 6px #00000028;

        @media screen and (max-width: 39.9375em) {
        
            font-size: 16px;
            padding: 0.5rem 2rem;
        }

    }
}


.learnings-section {
    position: relative;
    background: #FFD749;

    h3 {
        color: $purple-color;
        font-size: 30px;
        font-weight: 700;
        @media screen and (max-width: 39.9375em) {
            font-size: 16px;
       
        }

    }

    p {
        font-size: 30px;
        font-weight: 700;
        color: #0B273F;
    }

    .callout {
        font-size: 18px;
        font-weight: 700;

        margin-bottom: 2rem;
        text-align: center;
        @media screen and (max-width: 39.9375em) {
            font-size: 14px;
            padding: 0 0.5rem;
           
        }
        img{
            @media screen and (max-width: 39.9375em) {
               width: 75px;
            }
        }
    }

    .image-radius {
        border-radius: 100%;
        margin-bottom: 1rem;
    }
}


.course-section {
    position: relative;
   
    h3 {
        color: $purple-color;
        font-size: 30px;
        font-weight: 700;
        @media screen and (max-width: 39.9375em) {
            font-size: 16px;
           
        }

    }

    p {
        font-size: 20px;
        font-weight: 700;
        color: #0B273F;
        @media screen and (max-width: 39.9375em) {
            font-size: 14px;
           
        }
    }

    .callout {
        font-size: 16px;
        font-weight: 700;
        padding: 1rem;
        background: #69EBD0;
        border-radius: 15px;
        margin-bottom: 2rem;
        @media screen and (max-width: 39.9375em) {
            font-size: 11px;
            margin-bottom: 1rem;
            padding: 0.7rem;
          }
          .margin-right-1{
              margin-right: 0.5rem !important;
          }
        img {
            @media screen and (max-width: 39.9375em) {
              width: 20px;
              height: 20px;
            }
        }
        .title{
            line-height: 40px;
            span {
                line-height: 1.5;
                display: inline-block;
                vertical-align: middle;
            }
        }

    }

    .image {
        border-radius: 100%;
    }

    .cta-button-2 {
        font-size: 22px;
        color: white;
        border-radius: 28px;
        padding: 0.7rem 2rem;
        background: $purple-color;
        font-weight: 700;
        box-shadow: 0px 3px 6px #00000028;
        @media screen and (max-width: 39.9375em) {
           font-size: 16px;
        
           padding: 0.5rem 2rem;
          }

    }

    .icon {
        border-radius: 100%;
        margin-right: 1rem;
    }
}


.slider-container {
    text-align: center;
    position: relative;

    .slider-text {
        margin: 0;
        padding: 0 2rem;

        li {
            display: block;

            p {
                font-size: 16px;

                @media screen and (max-width: 39.9375em) {
                    font-size: 12px;
                }
            }

            .avatar-image {
                border-radius: 100%;
                margin-bottom: 1rem;

                @media screen and (max-width: 39.9375em) {
                    width: 50px;
                    height: 50px;
                }
            }

            .name {
                font-weight: 22px;
                font-weight: 700;

                @media screen and (max-width: 39.9375em) {
                    font-size: 12px;
                }
            }
        }

    }

    .slider-bullet {
        li {
            display: inline-block;
            padding: 0rem 0.3rem;

            .bullet {
                height: 10px;
                width: 10px;
                background: $pink-color;

                border-radius: 100%;

            }
        }


    }

    .arrow-container {

        .arrow-left {
            position: absolute;
            left: -10%;
            top: 0;

            @media screen and (max-width: 39.9375em) {
                left: 0;
            }
        }

        .arrow-right {
            position: absolute;
            right: -10%;
            top: 0;

            @media screen and (max-width: 39.9375em) {
                right: 0;
            }
        }
    }
}


.usp-section {
    .grey-bg {
        background: #F2EEEE;
    }

    h3 {
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 1rem;

        @media screen and (max-width: 39.9375em) {
            font-size: 12px;
            text-align: center;
        }
    }

    ul {
        margin: 0;
    }

    li {
        font-weight: 700;
        font-size: 16px;
        margin-bottom: 0.5rem;
        display: inline-block;

        @media screen and (max-width: 39.9375em) {
            font-size: 12px;

        }

    }

    .teaching-methods {

        .flex-container {
            align-items: flex-start !important;

            @media screen and (max-width: 39.9375em) {
                display: block;
                text-align: center;

            }

            .margin-right-1 {
                @media screen and (max-width: 39.9375em) {
                    margin-right: 0 !important;

                }
            }

        }
    }

    .callout {
        margin-bottom: 2rem;

        .title {
            font-size: 18px;
            margin-bottom: 0.5rem;
            font-weight: 700;
            color: $purple-color;

            @media screen and (max-width: 39.9375em) {
                font-size: 14px;

            }
        }

        .subtitle {
            font-size: 16px;
            font-weight: 700;

            @media screen and (max-width: 39.9375em) {
                font-size: 12px;

            }
        }

        img {
            @media screen and (max-width: 39.9375em) {
                width: 40px;
                margin-bottom: 0.5rem;


            }
        }
    }
}

.how-section {
    background: #590C96;
    position: relative;
    margin-bottom: 1rem;

    h2 {
        font-size: 25px;
        color: white;
        font-weight: 700;
        margin-bottom: 1rem;
        @media screen and (max-width: 39.9375em) {
            font-size: 18px;
          
               
           }
    }

    ul {
        margin: 0;

        li {
            display: block;
            margin-bottom: 1rem;

            span {
                font-size: 19px;
                border-radius: 30px;
                background: white;
                color: $purple-color;
                padding: 0.5rem 1rem;
                display: block;
                font-weight: 700;
                @media screen and (max-width: 39.9375em) {
                    font-size: 14px;
                  
                       
                   }
            }

        }
    }

    .bottom {
        position: absolute;
        bottom: -20px;
        text-align: center;
        width: 100%;
        left:0;
      
        @media screen and (max-width: 39.9375em) {
            text-align: center;
            width: 100%;
            left: 0;
            bottom: -15px;
    
             
         }
      
    }

    .image-radius {
        border-radius: 100%;
    }

    .bottom-image {
        position: absolute;
        bottom: -50px;
    }

    .cta-button-2 {
        font-size: 22px;
        color:white;
        border-radius: 49px;
        padding: 0.7rem 2rem;
        background:  $pink-color;
        font-weight: 700;
        box-shadow: 0px 3px 6px #00000023;
        @media screen and (max-width: 39.9375em) {
          font-size: 16px;
            padding: 0.5rem 2rem;
             
         }
       

    }
}
.about-sections{
    min-height: 80vh ;
    position: relative;
    background-size: cover;
    .callout {
        font-size: 18px;
        padding: 1.5rem;

        background: white;
        margin-bottom: 1rem;
        font-weight: 700;
        border-radius: 11px;
        box-shadow: 0px 3px 6px #00000028;
        @media screen and (max-width: 39.9375em) {
            font-size: 14px;
            padding: 0.5rem;

        }
        .icon{
            img{
                @media screen and (max-width: 39.9375em) {
                   width: 20px;
                   height: 20px;
    
                }
            }
        }

    }
    .bottom{
        position: absolute;
        bottom: -15px;    
        width: 100%;    
        left: 0;
        text-align: center;
        
    }
    .cta-button{
        font-size: 22px;
        background: $purple-color;
        padding: 1rem 2rem;
        color: white;
        border-radius: 30px;
        box-shadow: 0px 3px 6px #00000028;
        @media screen and (max-width: 39.9375em) {
        
            font-size: 16px;
            padding: 0.5rem 2rem;
        }
    }
}

.refer-section {
    position: relative;
    min-height: 80vh;
    background-size: cover;
    background-repeat: no-repeat;
  
    background-position: center;

    .flex-container {
        align-items: flex-start;
    }

    .bottom {
        position: absolute;
        bottom: 20px;
        width: 100%;
        left: 0;
        @media screen and (max-width: 39.9375em) {
            bottom: 20px;
            
        }
    }

    .callout {
        font-size: 22px;
        font-weight: 700;
        padding: 1rem;
        border-radius: 15px;
        @media screen and (max-width: 39.9375em) {
            font-size: 16px;
            padding: 0.5rem 1rem;
            border-radius: 10px;
            
        }
        
    }
    .headline{
        background: rgba(255,255,255,0.8);padding: 1.5rem;border-radius: 15px;
        @media screen and (max-width: 39.9375em) {
            font-size: 16px;
            padding: 0.5rem 1rem;
            border-radius: 10px;
            
        }
    }

    ul {
        margin: 0;

        li {
            font-size: 18px;
            font-weight: 700;
            display: block;
            color: black;
            @media screen and (max-width: 39.9375em) {
                font-size: 16px;
              
                
            }
            img{
                @media screen and (max-width: 39.9375em) {
                  width: 10px;
                  height: 10px;
                  
                    
                }
            }
        }
    }
}

.milestone-section {
    .flex-container {
        align-items: stretch !important;
    }
   


    .title {
        font-size: 22px;
        color: $purple-color;
        font-weight: 700;
        
     }



    .jumbo-callout {

        border: 3px solid white;
        padding: 1rem;
        background: white;
        border-radius: 15px;
        box-shadow: 0 3px 10px #2424242c;
       

    }

    p {

        font-size: 16px;
        font-weight: 700;
        @media screen and (max-width: 39.9375em) {
            font-size: 12px;
        }
    }

    ul {
        margin-left: 0;
     
        @media screen and (max-width: 39.9375em) {
           margin: 0;
        }
        li {
            font-size: 16px;
            font-weight: 700;
           display: block;
            list-style-position: inside;
            @media screen and (max-width: 39.9375em) {
                font-size: 12px;
            }
            img{
                @media screen and (max-width: 39.9375em) {
                  width: 10px;
                }
            }


        }
    }

    h2 {
        font-size: 30px;
        @media screen and (max-width: 39.9375em) {
            font-size: 16px;
        }
    }

   

}

.overflow-background {

    background-size: cover;

    @media screen and (max-width: 39.9375em) {
        background-position: calc(80% - 100px);
        background-repeat: no-repeat;

    }


}

//card



.flex-container {
    display: flex;
    align-items: center;

    .flex-item {}

    .flex-1 {
        flex: 1
    }
}


.program-section {
    h2 {
        @media screen and (max-width: 39.9375em) {
            font-size: 16px;
        }
    }

    .program-container {
        padding: 2rem 0;
        padding-top: 7%;
    }

    .flex-container {
        flex-wrap: wrap;
        margin-left: 1rem;
        
        @media screen and (max-width: 39.9375em) {
            display: block;
        }
        .flex-item{
            margin-right: 1rem;
            @media screen and (min-width: 40em) and (max-width: 63.9375em) {
                margin-right: 2rem;
                flex: 45%;
            }
        }
        .last-child {
            @media screen and (min-width: 40em) and (max-width: 63.9375em) {
                flex-grow: 0;
                margin-left: 26%;
            }

        }
       

        .margin-right-1 {
            @media screen and (max-width: 39.9375em) {
                margin-right: 0 !important;
            }
        }

    }

    .callout {
        font-size: 18px;
        padding: 1.5rem 0.5rem;
        text-align: center;
        background: white;
        margin-bottom: 2rem;
        border-radius: 10px;
        min-height: 255px;
        background: #F9F9F9;

        @media screen and (max-width: 39.9375em) {
            min-height: 175px;
            margin-bottom: 1rem;
        }


    }

    .title {
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 1rem;

        @media screen and (max-width: 39.9375em) {
            font-size: 14px;
        }
    }

    .subtitle {
        font-size: 16px;

        @media screen and (max-width: 39.9375em) {
            font-size: 12px;
        }
    }
}

.main-timeline {
	position: relative;
	&:before {
		content: "";
		display: block;
		width: 4px;
		height: 100%;
		background: #590C96;
		margin: 0 auto;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
	}
	.timeline {
		margin-bottom: 40px;
		position: relative;
		&:after {
			content: "";
			display: block;
			clear: both;
		}
		
		&:nth-child(2n) {
			.date-content {
				float: right;
				&:before {
					left: 0;
				}
			}
			.timeline-content {
				padding: 20px 80px 20px 0;
				text-align: left;
			}

            .icon {
              
                background: white;
                color: #590C96
               
             
            }

		}
	}
	.icon {
		width: 100px;
		height: 100px;
		line-height: 100px;
		margin: auto;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
        font-size: 20px;
        border-radius: 100%;
        text-align: center;
        background: #590C96;
        font-weight: 800;
        color: white;
     
	
	}
	.date-content {
		width: 50%;
		float: left;
		margin-top: 22px;
		position: relative;
		// &:before {
		// 	content: "";
		// 	width: 36.5%;
		// 	height: 4px;
		// 	background: #c6c6c6;
		// 	margin: auto 0;
		// 	position: absolute;
		// 	top: 0;
		// 	right:0;
		// 	bottom: 0;
		// }
	}
	.date-outer {
		width: 125px;
		height: 125px;
		font-size: 16px;
		text-align: center;
		margin: auto;
		z-index: 1;
		&:before {
			content: "";
			width: 125px;
			height: 125px;
			margin: 0 auto;
			border-radius: 50%;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			transition: all 0.33s ease-out 0s;
			background: #fff;
			border: 2px solid #590C96;
		
		}
		
	}
	.date {
		width: 100%;
		margin: auto;
		position: absolute;
		top: 35%;
		left: 0;
	}
	.month {
		font-size: 18px;
		font-weight: 700;
	}
	.year {
		display: block;
		font-size: 30px;
		font-weight: 700;
		color: #590C96;
		line-height: 36px;
	}
	.timeline-content {
		width: 50%;
		padding: 20px 0 20px 80px;
		float: right;
	}
	.title {
		font-size: 19px;
		font-weight: 700;
		line-height: 24px;
		margin: 0 0 15px 0;
	}
	.description {
		margin-bottom: 0;
	}
}
@media only screen and (max-width: 767px) {
	.main-timeline {
		&:before {
			margin: 0;
			left: 7px;
		}
		.timeline {
			margin-bottom: 20px;
			&:last-child {
				margin-bottom: 0;
			}
			&:nth-child(2n) {
				.timeline-content {
				
					padding: 10px ;
				}
			}
		}
		.icon {
			margin: auto 0;
            background: #590C96;
            border-radius: 100%;
            width: 19px;
            height: 19px;
         
		}
		.date-content {
            display: none;
			width: 95%;
			float: right;
			margin-top: 0;
			&:before {
				display: none;
			}
		}
		.date-outer {
			width: 110px;
			height: 110px;
			&:before {
				width: 110px;
				height: 110px;
			}
			&:after {
				width: 110px;
				height: 110px;
			}
		}
		.date {
			top: 30%;
		}
		.year {
			font-size: 24px;
		}
		.timeline-content {
			width: 95%;
		
			padding: 10px ;
		}
		.title {
			margin-bottom: 10px;
		}
	}
}


.slideshow-container {
	max-width: 1000px;
	position: relative;
	margin: auto;
}
.mySlides {
	display: none;
}
.prev {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
	&:hover {
		background-color: rgba(0, 0, 0, 0.8);
	}
}
.next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
	right: 0;
	border-radius: 3px 0 0 3px;
	&:hover {
		background-color: rgba(0, 0, 0, 0.8);
	}
}
.text {
	color: #f2f2f2;
	font-size: 15px;
	padding: 8px 12px;
	position: absolute;
	bottom: 8px;
	width: 100%;
	text-align: center;
}
.numbertext {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}
.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
	&:hover {
		background-color: #717171;
	}
}
.active {
	background-color: #717171;
}
.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}


  
  @-webkit-keyframes #{fade} {
    from {
        opacity: .4;
    }
    to {
        opacity: 1;
    }
}

  
@-webkit-keyframes #{fade} {
    from {
        opacity: .4;
    }
    to {
        opacity: 1;
    }
}
