footer{
    h5{
        font-size: 10px;
        color: $dark-gray;
        margin-bottom: 1rem;
        font-weight: 700;
        @media screen and (max-width: 39.9375em) {
            margin-bottom:15px;
        }
    }
    .menu{
        margin:0;
        a{
            font-size: 10px;
            padding: 0;
            margin-bottom:0.5rem;
            color: $dark-gray;
            font-weight: 400;
           
        
        }
    }
}

.footer-menu-container{
    border-bottom: 1px solid #6B6B6B;
    padding: 2rem 0;
    @media screen and (max-width: 39.9375em) {
      border: none;
      padding: 0;
    }
}

.small-vertical{
    @media screen and (max-width: 39.9375em) {
        flex-direction: column !important;
    }
}

.cta-button-container{
    position: absolute;
    top: 45%;
    width: 100%;

    .cta-button{
 
        top: -150px;
        font-weight: 700;
        font-size: 30px;
        border-radius: 58px;
        background: #FF8089;
        padding: 0.5rem 2rem;
        text-align: center;
        color: white;
        box-shadow: 0px 3px 6px #00000031;
        
        @media screen and (max-width: 39.9375em) {
            font-size: 16px;
            display: block;
            padding: 0.5rem 1rem;
            
        }
       
    }
}

.footer-image{
    min-height: 150px;
    object-fit: cover;
}

.price-card-conteiner{
    background-size:cover;    background-blend-mode: screen;background-color: #ff80884b;position: relative;padding: 6rem 0;
    
    @media screen and (max-width: 39.9375em) {
       padding: 2rem 0;
    }
}

.price-card{
    position: relative;
    border-radius: 16px;
    background: white;
    text-align: center;
    padding:1rem;
    height: 225px;
    margin-bottom: 2.5rem;
    margin-left: 13%;
    margin-right: 13%;
    @media screen and (max-width: 39.9375em) {
        height: 150px;
        margin-left: 0rem;
         margin-right: 0rem;
    }
    @media screen and (min-width: 40em) and (max-width: 63.9375em) {
        margin-left: 2rem;
        margin-right: 2rem;
    }
    
    .title{
        font-size: 22px;
        font-weight: 700;
        @media screen and (max-width: 39.9375em) {
            font-size: 14px;
        }

    }
    .subtitle{
        font-size: 26px;
        font-weight: 700;
        @media screen and (max-width: 39.9375em) {
            font-size: 16px;
        }

    }
    .promotion{
        font-size: 16px;
        color: #2D2D2D;
        @media screen and (max-width: 39.9375em) {
            font-size: 9px;
        }
    }
    .discount{
         color: #D31818;
         font-size: 21px;
         font-weight: 700;
         @media screen and (max-width: 39.9375em) {
            font-size: 12px;
        }
    }
    .small-cta-button{
        border-radius: 26px;
        font-size: 22px;
        font-weight: 700;
        padding:0.5rem 2rem;
        background: $pink-color;
        color: white;
        box-shadow: 0px 3px 6px #00000028;
        @media screen and (max-width: 39.9375em) {
            font-size: 13px;
        }
       //position: absolute;
        
        
    }
    .bottom{
        text-align: center;
        position: absolute;
        bottom:-10px;
        width: 100%;
        left: 0;
    }
}


