header{
   
    @media screen and (max-width: 39.9375em) {
        position: sticky;
        top: 0;
        min-height: 60px;
        z-index: 99999;
    }
    .logo{
       
        top: 10px;
    }
    .menu a{
        color: $purple-color;
        font-size: 16px;
        font-weight: 700;
       
        padding-top:50px !important;
    }
    .site-option{
        background: #FFD749;
        border-radius: 4px;
        padding: 5px 10px;
    }
    .main-menu-container{
        position: relative;
    }

    .language-menu-container{
        position: absolute;
        right: 0.7rem;
        background: white;
        top: 75px;
        padding: 0.7rem 1rem;
        border-radius: 4px;
        box-shadow: 0px 3px 6px #0000001a;

        .menu{
            a{
                padding: 0.5rem !important;
               text-align: right;
              
            }
        }
    }
    @media screen and (max-width: 39.9375em) {
        .mobile-navigation-bar{
            min-height: 60px !important;
          
            min-height: 100vh;
          
            width: 100%;
            background: white;
            z-index: 999;
            box-shadow: 0px 3px 6px #0000001a;
            .mini-menu-container{
                min-height: 100vh;
             padding: 2rem 0;
                width: 100%;
                background: white;
                left: 0;
                z-index: 99;
                .menu{
                    margin:0 !important
                }
                .menu a{
                    color: $purple-color;
                    font-size: 16px;
                    font-weight: 700;
                   
                    padding-top:15px !important;
                    border-bottom: 1px solid $purple-color;
                }
            }
        }
       
       
    }
}
