<section  class="about-sections" style="background-image:url('./assets/img/Aset Web AEL - About AEL-32.png')">
  


    <div class="row">
        <div class="large-12 columns">
            <div class="padding-center">
                <div class="padding-center margin-bottom-1">
                    <div class="row">
                        <div class="large-8 columns">
                            <div class="row large-up-1">
                                <div class="columns">
  
                                    <div class="callout">
                                        <div class="flex-container">
                                            <div class="flex-item margin-right-1">
                                                <span class="icon">
                                                    <img width="30" height="30"
                                                        src="./assets/img/Aset Web AEL - About AEL-ubah-Check Icon - 35.svg"
                                                        alt="">
                                                </span>
                                            </div>
                                            <div class="flex-item flex-1">
                                                <div class="title ">
                                                    Holistic curriculum covering listening, speaking, reading,
                                                    vocabulary learning, sentence phrasing and review (based on
                                                    CEFR and
                                                    Cambridge English Young Learners (YLE) syllabus)
                                                </div>
                                            </div>
                                        </div>
  
  
                                    </div>
                                </div>
                                <div class="columns">
                                    <div class="callout">
                                        <div class="flex-container">
                                            <div class="flex-item margin-right-1">
                                                <span class="icon">
                                                    <img width="30" height="30"
                                                        src="./assets/img/Aset Web AEL - About AEL-ubah-Check Icon - 35.svg"
                                                        alt="">
                                                </span>
                                            </div>
                                            <div class="flex-item flex-1">
                                                <div class="title  ">
                                                    Delivered via highly interactive with vivid illustrations,
                                                    original
                                                    catchy
                                                    songs, videos and game-like learning activities to aid
                                                    learning
                                                </div>
                                            </div>
                                        </div>
  
  
                                    </div>
  
                                </div>
  
                                <div class="columns">
                                    <div class="callout">
                                        <div class="flex-container">
                                            <div class="flex-item margin-right-1">
                                                <span class="icon">
                                                    <img width="30" height="30"
                                                        src="./assets/img/Aset Web AEL - About AEL-ubah-Check Icon - 35.svg"
                                                        alt="">
                                                </span>
                                            </div>
                                            <div class="flex-item flex-1">
                                                <div class="title ">
                                                    Facilitated by North American native-speaking teachers
                                                </div>
                                            </div>
                                        </div>
  
  
                                    </div>
  
                                </div>
  
                                <div class="columns">
                                    <div class="callout">
                                        <div class="flex-container">
                                            <div class="flex-item margin-right-1">
                                                <span class="icon">
                                                    <img width="30" height="30"
                                                        src="./assets/img/Aset Web AEL - About AEL-ubah-Check Icon - 35.svg"
                                                        alt="">
                                                </span>
                                            </div>
                                            <div class="flex-item flex-1">
                                                <div class="title ">
                                                    Short duration class, only 15 minutes per day!
                                                </div>
                                            </div>
                                        </div>
  
  
                                    </div>
  
                                </div>
  
  
  
  
                            </div>
                            <div class="text-center padding-center">
                                <a href="" class="cta-button">Come Join & Learn With Us!</a>
                            </div>
                        </div>
                    </div>
                    
  
                </div>
            </div>
  
  
        </div>
    </div>
  

  
  </section>
  
  
  
  <section class="milestone-section padding-center" style="background:#FFD749">
    <div class="padding-center" style="margin-top: 2rem;">
        <div class="row">
            <div class="large-12 columns">
                <div class="jumbo-callout text-center padding-center">
                    <div class="row">
                        <div class="large-10 large-centered">
  
                            <div class="text-center padding-center">
                                <h2 class="purple bold purple-color text-center">Why we create Ace Early
                                    Learning?</h2>
                                <div><img class="devider-icon" width="40" height="40" src="./assets/img/Line 7.svg" alt=""></div>
                            </div>
                            <p>We are a team of professionals with diverse international cirriculum and teaching
                                education background, in pursuit to do whatever it takes to make English learning
                                journey fun and enjoyable for young learners aged 4 to 8 years old!
                            </p>
                            <p>We understand that learning English can be boring and sometimes challenging for children.
                                Sitting and listening to teacher explaining grammar and vocabulary can be extremely dry
                                for children.
                            </p>
                            <p>That is why we create a structured English learning platform that makes English-learning
                                enjoyable and accessible anytime, anywhere! Only 15 minutes per day!</p>
                        </div>
                    </div>
  
                </div>
            </div>
        </div>
    </div>
    <div class="padding-center">
        <div class="row">
            <div class="large-12 columns">
                <div class="text-center padding-center">
                    <h2 class="purple bold purple-color text-center">Milestone</h2>
                    <div><img class="devider-icon" width="40" height="40" src="./assets/img/Line 7.svg" alt=""></div>
                </div>
  
                <div class="row">
                    <div class="small-0 small-centered  large-10 large-centered columns text-center margin-bottom-2">
                        <p>Singapore-headquartered LingoAce is a global leading EdTech offering authentic, interactive,
                            effective
                            Chinese online classes to young learners aged four to 15 of diverse proficiencies and
                            cultural backgrounds.
  
                            With a vision to open up future posibilities through authentic learning, we developed Ace
                            Early Learning to
                            enrich the English-learning of young learners. </p>
                    </div>
                </div>
                <div class="row">
                    <div class="small-13 small-centered large-10 large-centered columns">
                  
                        <div class="container">
                            <div class="main-timeline">
                          
                              <!-- start experience section-->
                              <div class="timeline">
                                <div class="icon">
                                    <span class="show-for-medium">2017</span>
                                </div>
                                <div class="date-content">
                                  <!-- <div class="date-outer">
                                    <span class="date">
                                     
                                      <span class="year">2017</span>
                                    </span>
                                  </div> -->
                                </div>
                                <div class="timeline-content">
                                    <span class="year show-for-small-only">2017</span>  <h5 class="title">Headline</h5>
                                  <ul>
                                    <li>
                                        <div class="flex-container">
                                            <div class="flex-item margin-right-05">
                                                <img class="margin-right-05" width="15" height="15"
                                                    src="./assets/img/Path 415.svg" alt="">
                                            </div>
                                            <div class="flex-item flex-1">
                                                LingoAce is launched in Singapore with our first Chinese language
                                                product
                                            </div>

                                        </div>
                                       
                                    </li>
                  
                                </ul>
                                </div>
                              </div>
                              <!-- end experience section-->
                          
                              <!-- start experience section-->
                              <div class="timeline">
                                <div class="icon">
                                    <span class="show-for-medium">2018</span>
                                </div>
                                <div class="date-content">
                                  <!-- <div class="date-outer">
                                    <span class="date">
                                    
                                      <span class="year">2018</span>
                                    </span>
                                  </div> -->
                                </div>
                                <div class="timeline-content">
                                    <span class="year show-for-small-only">2018</span>    <h5 class="title">Headline</h5>
                                 <ul>
                                     <li>
                                        <div class="flex-container">
                                            <div class="flex-item margin-right-05">
                                                <img class="margin-right-05" width="15" height="15"
                                                    src="./assets/img/Path 415.svg" alt="">
                                            </div>
                                            <div class="flex-item flex-1">
                                                Beijing Operation Centre is opened
                                            </div>

                                        </div>
                                        
                                       </li>
                                     <li>
                                        <div class="flex-container">
                                            <div class="flex-item margin-right-05">
                                                <img class="margin-right-05" width="15" height="15"
                                                    src="./assets/img/Path 415.svg" alt="">
                                            </div>
                                            <div class="flex-item flex-1">
                                                Received funding from Decent Capital Angel Funding
                                            </div>

                                        </div> 
                                       </li>
                                 </ul>
                                </div>
                              </div>
                              <!-- end experience section-->
                          
                              <!-- start experience section-->
                              <div class="timeline">
                                <div class="icon">
                                    <span class="show-for-medium">2019</span>
                                </div>
                                <div class="date-content">
                                  <!-- <div class="date-outer">
                                    <span class="date">
                                  
                                      <span class="year">2019</span>
                                    </span>
                                  </div> -->
                                </div>
                                <div class="timeline-content">
                                <span class="year show-for-small-only">2019</span>  <h5 class="title">Headline</h5>
                                  <ul class="description">
                                  <li>
                                  
                                        <div class="flex-container">
                                            <div class="flex-item margin-right-05">
                                                <img class="margin-right-05" width="15" height="15"
                                                    src="./assets/img/Path 415.svg" alt="">
                                            </div>
                                            <div class="flex-item flex-1">
                                                International Chinese Programme (our second product) is launched
                                            </div>

                                        </div> 
                                      
                                    </li>
                                  <li>
                                    <div class="flex-container">
                                        <div class="flex-item margin-right-05">
                                            <img class="margin-right-05" width="15" height="15"
                                                src="./assets/img/Path 415.svg" alt="">
                                        </div>
                                        <div class="flex-item flex-1">
                                            Wuhan Teaching and Training Centre is opened
                                        </div>

                                    </div>   
                                   </li>
                                  <li>
                                    <div class="flex-container">
                                        <div class="flex-item margin-right-05">
                                            <img class="margin-right-05" width="15" height="15"
                                                src="./assets/img/Path 415.svg" alt="">
                                        </div>
                                        <div class="flex-item flex-1">
                                            Received $3m per-series A funding from Decent Capital Angel Funding
                                        </div>

                                    </div>     
                                    </li>
                                  <li>
                                    <div class="flex-container">
                                        <div class="flex-item margin-right-05">
                                            <img class="margin-right-05" width="15" height="15"
                                                src="./assets/img/Path 415.svg" alt="">
                                        </div>
                                        <div class="flex-item flex-1">
                                            Los Angeles Operation Centre is opened
                                        </div>

                                    </div>       
                                  </li>
                                  <li>
                                    <div class="flex-container">
                                        <div class="flex-item margin-right-05">
                                            <img class="margin-right-05" width="15" height="15"
                                                src="./assets/img/Path 415.svg" alt="">
                                        </div>
                                        <div class="flex-item flex-1">
                                            Over 1,000 teachers have joined LingoAce
                                        </div>

                                    </div>         
                                   </li>
                                  </ul>
                                </div>
                              </div>
                              <!-- end experience section-->
                          
                              <!-- start experience section-->
                              <div class="timeline">
                                <div class="icon">
                                    <span class="show-for-medium">2020</span>
                                </div>
                                <div class="date-content">
                                  <!-- <div class="date-outer">
                                    <span class="date">
                                     
                                      <span class="year">2020</span>
                                    </span>
                                  </div> -->
                                </div>
                                <div class="timeline-content">
                                    <span class="year show-for-small-only">2020</span>    <h5 class="title">Headline</h5>
                                 <ul>
                                     <li>
                                        <div class="flex-container">
                                            <div class="flex-item margin-right-05">
                                                <img class="margin-right-05" width="15" height="15"
                                                    src="./assets/img/Path 415.svg" alt="">
                                            </div>
                                            <div class="flex-item flex-1">
                                                Singapore Chinese Programme and Preschool Foundation Programme (our third and fourth products) launched
                                            </div>
    
                                        </div>   
                                       </li>
                                     <li>
                                        <div class="flex-container">
                                            <div class="flex-item margin-right-05">
                                                <img class="margin-right-05" width="15" height="15"
                                                    src="./assets/img/Path 415.svg" alt="">
                                            </div>
                                            <div class="flex-item flex-1">
                                                Indonesia and Thailand offices are opened to better serve those markets
                                            </div>
    
                                        </div>    
                                       </li>
                                     <li>
                                        <div class="flex-container">
                                            <div class="flex-item margin-right-05">
                                                <img class="margin-right-05" width="15" height="15"
                                                    src="./assets/img/Path 415.svg" alt="">
                                            </div>
                                            <div class="flex-item flex-1">
                                                Received $13m funding in total from Shunwei Capital and Sequoia Capital India
                                            </div>
    
                                        </div>     
                                    </li>
                                     <li>
                                        <div class="flex-container">
                                            <div class="flex-item margin-right-05">
                                                <img class="margin-right-05" width="15" height="15"
                                                    src="./assets/img/Path 415.svg" alt="">
                                            </div>
                                            <div class="flex-item flex-1">
                                                The LingoAce family grew to over 550 team members
                                            </div>
    
                                        </div>     
                                        </li>
                                     <li>
                                        <div class="flex-container">
                                            <div class="flex-item margin-right-05">
                                                <img class="margin-right-05" width="15" height="15"
                                                    src="./assets/img/Path 415.svg" alt="">
                                            </div>
                                            <div class="flex-item flex-1">
                                                Over 100,000 students globally is learning Chinese with LingoAce
                                            </div>
    
                                        </div>    
                                      </li>
                                 </ul>
                                </div>
                              </div>
                              <!-- end experience section-->
                          
                            </div>
                          </div>
                  
                    
                    </div>
                  </div>
            </div>
        </div>
    </div>
  
  </section>