<section class="how-section padding-center">
    <div class="row">
        <div class="medium-11 medium-centered columns">
            <div class="row">

                <div class="medium-6 columns">
                    <div class="padding-center text-center">
                        <div class="show-for-medium">
                            <img width="450" height="450" src="./assets/img/Aset Web AEL - Homepage-01.png" alt="">
                        </div>
                        <img class="show-for-small-only" width="200" height="200" src="./assets/img/Aset Web AEL - Homepage-01.png" alt="">
                     

                    </div>


                </div>
                <div class="medium-6 columns">
                    <div class="padding-center">
                        <h2>How to enjoy Ace Early Learning course:</h2>
                        <ul class="margin-bottom-2">
                            <li><span>1. Download Ace Early Learning On Your Phone</span> </li>
                            <li><span>2. Register Yourself</span> </li>
                            <li><span>3. Try Our Free Trial Class!</span> </li>
                            <li><span>4. Enjoy The Class</span> </li>
                            <li><span>5. Like The Class? Subscribe!</span> </li>
                        </ul>
                        <div class="text-center">
                            <a href="" class="cta-button-2">Try it for free!</a>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>

</section>

<section class="course-section padding-center">
    <div class="row">
        <div class="medium-10 medium-centered columns">
           

            <div class="text-center padding-center">
                <h3>
                    Our Course!
                </h3>
                <div><img class="devider-icon"  width="40" height="40" src="./assets/img/Line 7.svg" alt=""></div>
             
            </div>
            <p class="text-center">New Theme Per Month! </p>
            <div class="row small-up-2 medium-up-3 margin-bottom-1">

                <div class="columns">
                    <div class="callout">
                        <div class="flex-container">
                            <div class="flex-item margin-right-1">
                               
                                <img  width="40" height="40" src="./assets/img/Aset Web AEL - How to attend-our course icon-44.svg" alt="">
                            </div>
                            <div class="flex-item flex-1">
                                <div class="title">
                                    <span> 48 New Keywords To Learn</span>
                                   
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="columns">
                    <div class="callout">
                        <div class="flex-container">
                            <div class="flex-item margin-right-1">
                                <img  width="40" height="40" src="./assets/img/Aset Web AEL - How to attend-our course icon-45.svg" alt="">
                           
                            </div>
                            <div class="flex-item flex-1">
                                <div class="title">
                                    <span>  12 Key Sentence Structures To Learn</span>
                                  
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="columns">
                    <div class="callout">
                        <div class="flex-container">
                            <div class="flex-item margin-right-1">
                                <img  width="40" height="40" src="./assets/img/Aset Web AEL - How to attend-our course icon-46.svg" alt="">
                           
                            </div>
                            <div class="flex-item flex-1">
                                <div class="title">
                                  <span>  12 Picture Books To Read</span>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>

                <div class="columns">
                    <div class="callout">
                        <div class="flex-container">
                            <div class="flex-item margin-right-1">
                                <img  width="40" height="40" src="./assets/img/Aset Web AEL - How to attend-our course icon-47.svg" alt="">
                           
                            </div>
                            <div class="flex-item flex-1">
                                <div class="title">
                                  <span>  4 Theme Songs To Sing</span>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="columns">
                    <div class="callout">
                        <div class="flex-container">
                            <div class="flex-item margin-right-1">
                                <img  width="40" height="40" src="./assets/img/Aset Web AEL - How to attend-our course icon-48.svg" alt="">
                           
                            </div>
                            <div class="flex-item flex-1">
                                <div class="title">
                                  <span>  4 Interactive Courses To Take</span>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="columns">
                    <div class="callout">
                        <div class="flex-container">
                            <div class="flex-item margin-right-1">
                                <img  width="40" height="40" src="./assets/img/Aset Web AEL - How to attend-our course icon-49.svg" alt="">
                           
                            </div>
                            <div class="flex-item flex-1">
                                <div class="title">
                                  <span>4 Adventurous Review Games To Play</span>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
           
           
            <div class="text-center margin-bottom-2">
                <a href="" class="cta-button-2"> Try It For Free!</a>
            </div>

        </div>
    </div>


</section>


<section class="learnings-section padding-center">
    <div class="row">
        <div class="medium-8 medium-centered columns text-center">
            <div class="padding-center margin-bottom-2">
                <h3>How is Ace Early Learning is different from others?</h3>
                <div><img class="devider-icon" width="40" height="40" src="./assets/img/Line 7.svg" alt=""></div>
            
            </div>
            <div class="row small-up-2 medium-up-3">
                <div class="columns">
                    <div class="callout">
                        <div class="image">
                           
                                <img  width="125" height="125" class="image-radius" src="./assets/img/Aset Web AEL - How to attend-how AEL different-50.png" alt="">
                           
                        </div>
                        <div class="title">
                            Original Catchy Songs To Support Learning
                        </div>
                    </div>
                </div>
                <div class="columns">
                    <div class="callout">
                        <div class="image">
                            <img  width="125" height="125" class="image-radius" src="./assets/img/Aset Web AEL - How to attend-how AEL different-51.png" alt="">
                           

                        </div>
                        <div class="title">
                            Short Duration Class, Only 15 Minutes Per Day!
                        </div>
                    </div>
                </div>
                <div class="columns">
                    <div class="callout">
                        <div class="image">
                            <img  width="125" height="125" class="image-radius" src="./assets/img/Aset Web AEL - How to attend-how AEL different-52.png" alt="">
                           
                        </div>
                        <div class="title">
                            Fun And Enjoyable Interactive Videos
                        </div>
                    </div>
                </div>
                <div class="columns">
                    <div class="callout">
                        <div class="image">
                            <img  width="125" height="125" class="image-radius" src="./assets/img/Aset Web AEL - How to attend-how AEL different-53.png" alt="">
                           

                        </div>
                        <div class="title">
                            Instant And Accurate AI Feedback System
                        </div>
                    </div>
                </div>
                <div class="columns">
                    <div class="callout">
                        <div class="image">
                            <img  width="125" height="125" class="image-radius" src="./assets/img/Aset Web AEL - How to attend-how AEL different-54.png" alt="">
                           

                        </div>
                        <div class="title">
                            Immersive Daily-Life Scenarios
                        </div>
                    </div>
                </div>
                <div class="columns">
                    <div class="callout">
                        <div class="image">
                            <img  width="125" height="125" class="image-radius" src="./assets/img/Aset Web AEL - How to attend-how AEL different-55.png" alt="">
                           
                        </div>
                        <div class="title">
                            Fun And Game-Like Learning Activities
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>