<section style="background-image: url('./assets/img/Group 172.svg');background-size: cover;" id=""
  class="padding-center">
  <div class="row">
    <div class="medium-1 columns">
      <br>
    </div>
    <div class="medium-6 columns">
      <div class="headline padding-center">
        <h2 class="title purple-color margin-bottom-1">
          Screen time that you can <b>feel good</b> about.
        </h2>
        <ul>
          <li>15 minutes English-learning as a daily habit</li>
          <li>An authentic, immersive English-learning environment with CEFR and Cambridge English Young Learners
            (YLE) syllabus taught by American native-speaking teachers anywhere, anytime</li>
          <li>Tailored for young-learners learning, with blue-filter eye protection control</li>
        </ul>
        <div class="cta-buttons-container padding-center">
          <a href="" class="cta-buttons">Try the differences, for free!</a>
       
        </div>


      </div>
    </div>
    <div class="medium-4 columns show-for-medium">
      <img style="padding: 5rem 0;" class="image-radius" src="./assets/img/Aset Web AEL - Homepage-row atas-12.png"
        alt="">
    </div>
  </div>


</section>


<section class="app-section">
  <div class="show-for-small-only">
    <img class="separator-image" src="./assets/img/Aset Web AEL - Homepage-row atas-12.png" alt="">
  </div>
  
  <div class="padding-center">
    <div class="row">
      <div class="large-10 medium-centered columns">
        <div class="row">
          <div class="medium-5 columns text-center">
            <img class="image"
              src="./assets/img/Aset Web AEL - Homepage-01.png" alt="">
          </div>
          <div class="medium-7 columns">
            
            <h2 class="purple bold purple-color flex-container">  <img class="margin-right-1 arrow-icon" src="./assets/img/Path 415.svg" alt="">
               ALL IN 1 APP</h2>
            <p >
              Our program breaks down dry academic-based English learning to mimick a natural North American
              native-speaking environment.
              Holistic and interactive, our English learning approach helps young learners build a strong foundation and
              love for English.
            </p>
            <div class="row medium-up-1 margin-bottom-05">
              <div class="columns">
                <div class="border-callout">
                  15 minutes English lesson per day
                </div>
              </div>
              <div class="columns">
                <div class="border-callout">
                  Systematically covering vocab, sentence-phrasing, listening, speaking, with quiz and interactions with
                  North-American teachers
                </div>
              </div>
              <div class="columns">
                <div class="border-callout">
                  Engaging, fun formats like original catchy songs, games, conversation-focused videos, picture books to
                  support learning
                </div>
              </div>
            </div>
            <div class="text-center">
              <a href="#" class="cta-buttons-small text-center">
              Discover More
                
              </a>
            </div>
  
          </div>
        </div>
      </div>
    </div>
  </div>
  
</section>

<section class="program-section">
  <div class="padding-center">
    <div class="row">
      <div class="medium-12 columns">
        <div class="text-center">
          <h2 class="purple bold purple-color text-center">Fun learning English with our program!</h2>
        <div><img  class="devider-icon" src="./assets/img/Line 7.svg" alt=""></div>
        </div>
        
      </div>
    </div>
  </div>


  <div class="overflow-background padding-center" style="background-image: url('./assets/img/Path 322.svg');">
    <div class="program-container">
      <div class="row">
        <div class="medium-12 columns small-9 small-centered ">
         
            <div class="flex-container">
              <div class="flex-item flex-1">
                <div class="callout">
                  <div class="title">
                    Theme song opening
                  </div>
                  <div class="image margin-bottom-1">
                    <img width="50" height="50" src="./assets/img/Aset Web AEL - Homepage-ubah-theme-02.svg" alt="">
  
                  </div>
                  <div class="subtitle">
                    Original super catchy song to capture young learners' interest
                  </div>
                </div>
              </div>
              <div class="flex-item flex-1">
                <div class="callout">
                  <div class="title">
                    Word
                  </div>
                  <div class="image margin-bottom-1">
                    <img width="50" height="50" src="./assets/img/Aset Web AEL - Homepage-ubah-word-03.svg" alt="">
  
                  </div>
                  <div class="subtitle">
                    Learn vocabulary words through cartoons and interactive games
                  </div>
                </div>
              </div>
  
              <div class="flex-item flex-1">
                <div class="callout">
                  <div class="title">
                    Sentence-forming
                  </div>
                  <div class="image margin-bottom-1">
                    <img width="50" height="50" src="./assets/img/Aset Web AEL - Homepage-ubah-sentence-04.svg" alt="">
  
                  </div>
                  <div class="subtitle">
                    Learn sentence structures via conversation-focused videos by our North American teachers
                  </div>
                </div>
              </div>
  
              <div class="flex-item flex-1">
                <div class="callout">
                  <div class="title">
                    Listening
                  </div>
                  <div class="image margin-bottom-1">
                    <img width="50" height="50" src="./assets/img/Aset Web AEL - Homepage-ubah-listening-05.svg" alt="">
  
  
                  </div>
                  <div class="subtitle">
                    Pick up authentic pronounciation through our North-American teachers narration of original picture
                    books
                  </div>
                </div>
              </div>
            </div>
         
        </div>
      </div>
  
      <div class="row">
        <div class="medium-12 large-9 small-9 small-centered  large-centered columns">
  
          <div class="flex-container">
            <div class="flex-item flex-1">
              <div class="callout">
                <div class="title">
                  Speaking
                </div>
                <div class="image margin-bottom-1">
                  <img width="50" height="50" src="./assets/img/Aset Web AEL - Homepage-ubah-speaking-06.svg" alt="">
  
  
  
                </div>
                <div class="subtitle">
                  Practice speaking and receive instant feedback on speech
                </div>
              </div>
            </div>
            <div class="flex-item flex-1">
              <div class="callout">
                <div class="title">
                  Quiz
                </div>
                <div class="image margin-bottom-1">
                  <img width="50" height="50" src="./assets/img/Aset Web AEL - Homepage-ubah-quiz-07.svg" alt="">
  
  
                </div>
                <div class="subtitle">
                  Reinforce learning through game-like learning quizzes
                </div>
              </div>
            </div>
  
            <div class="flex-item flex-1 last-child">
              <div class="callout">
                <div class="title">
                  Project-based Learning
                </div>
                <div class="image margin-bottom-1">
                  <img width="50" height="50" src="./assets/img/Aset Web AEL - Homepage-08.svg" alt="">
  
  
                </div>
                <div class="subtitle">
                  Review and extend by watching STEAM videos with North American teachers
                </div>
              </div>
            </div>
  
          
          </div>
  
          
  
        </div>
      </div>
    </div>
   
    
  </div>

</section> 