<section style="background-image: url('./assets/img/Aset Web AEL - Refer a friend-56.png');" id="" class="refer-section padding-center">
    <div class="bottom">
     <div class="row">
        <div class="medium-10 medium-centered columns">
            <div class="row">
                <div class="medium-6 columns" >
                    
                    <div class="text-center">
                        <div class="callout margin-bottom-2" style="background-color: #590C96;color: white;">
                            Tell your friends about us and get more benefits!
                        </div>
                        <div class="callout" style="background:#69EBD0">
                            Refer the Ace Early Learning app to your friends and get up to 50% discount​!
                        </div>
                    </div>
                   
                </div>
                <div class="medium-1 columns">
                    <br>
                </div>
                <div class="medium-5 end columns">
                    <div class="headline"
                       >
                       
                        <ul>
                            <li>
                                <div class="flex-container">
                                    <div class="flex-item margin-right-05">
                                        <img class="margin-right-05" width="15" height="15"
                                            src="./assets/img/Path 415.svg" alt="">
                                    </div>
                                    <div class="flex-item flex-1">
                                        Share Your Referral Code To Your Friends
                                    </div>

                                </div>
                                
                            </li>

                            <li>
                                <div class="flex-container">
                                    <div class="flex-item margin-right-05">
                                        <img class="margin-right-05" width="15" height="15"
                                            src="./assets/img/Path 415.svg" alt="">
                                    </div>
                                    <div class="flex-item flex-1">
                                        If Your Friend Has Registered Using Your Promo Code, You Will Get Our Discounted Price!
                                    </div>

                                </div>
                                
                            </li>

                            <li>
                                <div class="flex-container">
                                    <div class="flex-item margin-right-05">
                                        <img class="margin-right-05" width="15" height="15"
                                            src="./assets/img/Path 415.svg" alt="">
                                    </div>
                                    <div class="flex-item flex-1">
                                        Make 5 Referrals, And You Will Get 50% Discount For Our Yearly Package!
                                    </div>

                                </div>
                                
                            </li>
                           
                        </ul>
                      
    
                    </div>
    
                
    
                </div>
            </div>
          </div>
     </div>
    </div>
</section>

