<div class="row">
  <div class="small-13 small-centered large-10 large-centered columns">

      <div class="container">
          <div class="main-timeline">
        
            <!-- start experience section-->
            <div class="timeline">
              <div class="icon">2017</div>
              <div class="date-content">
                <!-- <div class="date-outer">
                  <span class="date">
                   
                    <span class="year">2017</span>
                  </span>
                </div> -->
              </div>
              <div class="timeline-content">
                  <span class="year show-for-small-only">2017</span>  <h5 class="title">Headline</h5>
                <ul>
                  <li>
                      LingoAce is launched in Singapore with our first Chinese language
                      product
                  </li>

              </ul>
              </div>
            </div>
            <!-- end experience section-->
        
            <!-- start experience section-->
            <div class="timeline">
              <div class="icon">2018</div>
              <div class="date-content">
                <!-- <div class="date-outer">
                  <span class="date">
                  
                    <span class="year">2018</span>
                  </span>
                </div> -->
              </div>
              <div class="timeline-content">
                  <span class="year show-for-small-only">2018</span>    <h5 class="title">Headline</h5>
               <ul>
                   <li>Beijing Operation Centre is opened</li>
                   <li>Received funding from Decent Capital Angel Funding</li>
               </ul>
              </div>
            </div>
            <!-- end experience section-->
        
            <!-- start experience section-->
            <div class="timeline">
              <div class="icon">2019</div>
              <div class="date-content">
                <!-- <div class="date-outer">
                  <span class="date">
                
                    <span class="year">2019</span>
                  </span>
                </div> -->
              </div>
              <div class="timeline-content">
              <span class="year show-for-small-only">2019</span>  <h5 class="title">Headline</h5>
                <ul class="description">
                <li>International Chinese Programme (our second product) is launched</li>
                <li>Wuhan Teaching and Training Centre is opened</li>
                <li>Received $3m per-series A funding from Decent Capital Angel Funding</li>
                <li>Los Angeles Operation Centre is opened</li>
                <li>Over 1,000 teachers have joined LingoAce</li>
                </ul>
              </div>
            </div>
            <!-- end experience section-->
        
            <!-- start experience section-->
            <div class="timeline">
              <div class="icon">2020</div>
              <div class="date-content">
                <!-- <div class="date-outer">
                  <span class="date">
                   
                    <span class="year">2020</span>
                  </span>
                </div> -->
              </div>
              <div class="timeline-content">
                  <span class="year show-for-small-only">2020</span>    <h5 class="title">Headline</h5>
               <ul>
                   <li>Singapore Chinese Programme and Preschool Foundation Programme (our third and fourth products) launched</li>
                   <li>Indonesia and Thailand offices are opened to better serve those markets</li>
                   <li>Received $13m funding in total from Shunwei Capital and Sequoia Capital India</li>
                   <li>The LingoAce family grew to over 550 team members</li>
                   <li>Over 100,000 students globally is learning Chinese with LingoAce</li>
               </ul>
              </div>
            </div>
            <!-- end experience section-->
        
          </div>
        </div>

  
  </div>
</div>