<section class="usp-section">
    <div class="show-for-small-only">
        <img class="separator-image" src="./assets/img/Aset Web AEL - Why Us-21.png" alt="">
      </div>
      
    <div class="padding-center">
        <div class="row">
            <div class="medium-10 medium-centered columns">
                <div class="padding-center">
                    <div class="row">
                        <div class="medium-6 columns show-for-medium">


                            <img class="image-radius" src="./assets/img/Aset Web AEL - Why Us-21.png" alt="">
                        </div>
                        <div class="medium-6 columns">
                            <div class="padding-center">
                                <h3>Adopting Two World-Renowed Language Standards, CCSS And CEFR, Our Programs Aims To
                                    Develop Children's All-Round Abilities, From Communications To Content And
                                    Knowlwedge Application.</h3>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="padding-center grey-bg">
        <div class="row">
            <div class="medium-10 medium-centered columns">
                <div class="padding-center">
                    <div class="row">

                        <div class="medium-7 columns">
                            <div class="padding-center">
                                <h3>Through A Play-Based Immersive Learning Approach. We Seek To Make English-Learning
                                    Fun, So Children Love To Learn.</h3>
                               <div class="row">
                                   <div class="medium-12 small-9 columns small-centered">
                                    <ul>
                                   

                                        <li>
                                            <div class="flex-container">
                                                <div class="flex-item margin-right-05">
                                                    <img class="margin-right-05" width="15" height="15"
                                                        src="./assets/img/Path 415.svg" alt="">
                                                </div>
                                                <div class="flex-item flex-1">
                                                    Motivation And Curiosity Increase
                                                    When Children Are Having Fun
                                                </div>
    
                                            </div>
                                        </li>

                                        <li>
                                            <div class="flex-container">
                                                <div class="flex-item margin-right-05">
                                                    <img class="margin-right-05" width="15" height="15"
                                                        src="./assets/img/Path 415.svg" alt="">
                                                </div>
                                                <div class="flex-item flex-1">
                                                    Concentration Are Developed When
                                                    Children Are Involved In Entertaining
                                                    Activities
                                                </div>
    
                                            </div>
                                        </li>
                                        
                                    <li>
                                        <div class="flex-container">
                                            <div class="flex-item margin-right-05">
                                                <img class="margin-right-05" width="15" height="15"
                                                    src="./assets/img/Path 415.svg" alt="">
                                            </div>
                                            <div class="flex-item flex-1">
                                                Play Nurtures The Imagination And Gives Children A
                                                Sense Of Adventure
                                            </div>

                                        </div>
                                    </li>
                                </ul>
                                   </div>
                               </div>
                            </div>
                        </div>
                        <div class="medium-5 columns show-for-medium">
                            <img class="image-radius" src="./assets/img/Aset Web AEL - Why Us-22.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="show-for-small-only">
        <img class="separator-image"  src="./assets/img/Aset Web AEL - Why Us-22.png" alt="">
      </div>
      

    <div class="padding-center ">
        <div class="row">
            <div class="medium-10  medium-centered columns">
                <h3>Thorough the program, different teaching techniques are adopted so the learning process for young
                    learners becomes more natural and effortless. some of the techniques and materials to teach the
                    little ones a new language include:</h3>
               <div class="row">
                   <div class="medium-12 small-9 small-centered columns teaching-methods">
                    <div class="row medium-up-1">
                        <div class="column">
                            <div class="callout">
                                <div class="flex-container">
                                    <div class="flex-item margin-right-1">
                                        <img width="100" height="100"
                                            src="./assets/img/Aset Web AEL - Why Us-ubah-songs-23.svg" alt="">
    
                                    </div>
                                    <div class="flex-item flex-1">
                                        <div class="title">
                                            Songs
                                        </div>
                                        <div class="subtitle">
                                            Music is fantastic to introduce new vocabulary to kids, they enjoy singing and
                                            dancing, and learning the lyrics to their favorite tunes.
                                        </div>
                                    </div>
                                </div>
                            </div>
    
                        </div>
    
                        <div class="column">
                            <div class="callout">
                                <div class="flex-container ">
                                    <div class="flex-item margin-right-1">
                                        <img width="100" height="100"
                                            src="./assets/img/Aset Web AEL - Why Us-ubah-flashcards-24.svg" alt="">
    
                                    </div>
                                    <div class="flex-item flex-1">
                                        <div class="title">
                                            Flashcards With Images
                                        </div>
                                        <div class="subtitle">
    
                                            Helping young learners associate the visual representation of the words and the
                                            objects with the names. </div>
                                    </div>
                                </div>
                            </div>
    
                        </div>
    
                        <div class="column">
                            <div class="callout">
                                <div class="flex-container">
                                    <div class="flex-item margin-right-1">
                                        <img width="100" height="100"
                                            src="./assets/img/Aset Web AEL - Why Us-ubah-audiobook-25.svg" alt="">
    
                                    </div>
                                    <div class="flex-item flex-1">
                                        <div class="title">
                                            Audiobooks
                                        </div>
                                        <div class="subtitle">
                                            The perfect way to introduce more complex stories for the little ones, but also
                                            help with the pronunciation of a new word and sentences. </div>
                                    </div>
                                </div>
                            </div>
    
                        </div>
    
                        <div class="column">
                            <div class="callout">
                                <div class="flex-container">
                                    <div class="flex-item margin-right-1">
                                        <img width="100" height="100"
                                            src="./assets/img/Aset Web AEL - Why Us-ubah-cartoon-26.svg" alt="">
    
                                    </div>
                                    <div class="flex-item flex-1">
                                        <div class="title">
                                            Cartoons
                                        </div>
                                        <div class="subtitle">
                                            Audiovisual content could be very beneficial for children when used responsibly.
                                            We will be exploring different topics as varied as home, school and nature with
                                            vocabulary embedded for effective learning.
                                        </div>
                                    </div>
                                </div>
                            </div>
    
                        </div>
    
                        <div class="column">
                            <div class="callout">
                                <div class="flex-container">
                                    <div class="flex-item margin-right-1">
                                        <img width="100" height="100"
                                            src="./assets/img/Aset Web AEL - Why Us-ubah-strategic-27.svg" alt="">
    
                                    </div>
                                    <div class="flex-item flex-1">
                                        <div class="title">
                                            Strategic Repetition
                                        </div>
                                        <div class="subtitle">
                                            Having the same content show up across different activities helps children get
                                            acquainted with it quicker, and they usually learn it more easily.
                                        </div>
                                    </div>
                                </div>
                            </div>
    
                        </div>
    
                    </div>
                   </div>
               </div>
            </div>
        </div>
    </div>

</section>

<section class="learning-section padding-center" style="background:#69EBD0">
    <div class="row">
        <div class="medium-8 medium-centered columns">
            <div class="padding-center text-center">
                <h3>
                    Engaging activities that can make your child enjoy
                    learning English every day!
                </h3>
                <p>Our 15 Minutes Class Per Day:</p>
            </div>
            <div class="flex-container">
                <div class="flex-item callout"
                    style="background-image: url('./assets/img/Aset Web AEL - Why Us-31.png');">
                    <span>theme song opening</span>
                </div>
                <div class="flex-item callout"
                    style="background-image: url('./assets/img/Aset Web AEL - Why Us-31.png');">
                    <span> word-learning</span>
                </div>
                <div class="flex-item callout"
                    style="background-image: url('./assets/img/Aset Web AEL - Why Us-31.png');">
                    <span> sentence-forming</span>
                </div>
                <div class="flex-item callout"
                    style="background-image: url('./assets/img/Aset Web AEL - Why Us-31.png');">
                    <span> listening</span>
                </div>
            </div>
        </div>
        <div class="medium-6 medium-centered columns margin-bottom-2">

            <div class="flex-container text-center">
                <div class="flex-item flex-1 callout"
                    style="background-image: url('./assets/img/Aset Web AEL - Why Us-31.png');">
                    <span>speaking</span>
                </div>
                <div class="flex-item flex-1 callout"
                    style="background-image: url('./assets/img/Aset Web AEL - Why Us-31.png');">
                    <span>quiz</span>
                </div>
                <div class="flex-item flex-1 callout last-child text-center"
                    style="background-image: url('./assets/img/Aset Web AEL - Why Us-31.png');">
                    <span> teacher reivew call</span>
                </div>

            </div>
        </div>
    </div>
    <div class=" text-center">
        <a href="" class="cta-button-2"> Try It For Free!</a>
    </div>

</section>

<section class="learning-section padding-center">
    <div class="row">
      <div class="medium-8 medium-centered columns">
        <div class="padding-center text-center">
          <h3>
            What They Say About Us
          </h3>
        </div>
  
        <div class="slider-container ">
  
          <div class="arrow-container">
            <div class="arrow-left">
              <a onclick="plusSlides(-1)">
  
                <img class="arrow-icon" width="25" height="25"
                  src="./assets/img/Aset Web AEL - Why Us-panah testimoni-kiri-38.svg" alt="">
              </a> </div>
            <div class="arrow-right">
              <a onclick="plusSlides(1)">
                <img class="arrow-icon" width="25" height="25"
                  src="./assets/img/Aset Web AEL - Why Us-panah testimoni-kanan-37.svg" alt="">
  
              </a>
            </div>
  
          </div>
  
  
  
        </div>
  
  
        <div class="slideshow-container slider-container margin-bottom-2">
  
          <!-- Full-width images with number and caption text -->
          <div class="mySlides fade">
            <p>"i like learning english with tigo! he's my favorite teacher. he helps me learn and he is fun
              to play with. "</p>
  
            <img width="75" height="75" class="avatar-image" src="./assets/img/Aset Web AEL - Why Us-28.png" alt="">
            <div class="name">Nimo</div>
          </div>
  
          <div class="mySlides fade">
            <p>"i like learning english with tigo! he's my favorite teacher. he helps me learn and he is fun
              to play withs. "</p>
  
            <img width="75" height="75" class="avatar-image" src="./assets/img/Aset Web AEL - Why Us-28.png" alt="">
            <div class="name">Nimo</div>
          </div>
  
          <div class="mySlides fade">
            <p>"i like learning english with tigo! he's my favorite teacher. he helps me learn and he is fun
              to play with. "</p>
  
            <img width="75" height="75" class="avatar-image" src="./assets/img/Aset Web AEL - Why Us-28.png" alt="">
            <div class="name">Nimo</div>
          </div>
  
  
        </div>
  
  
        <!-- The dots/circles -->
        <div style="text-align:center">
          <span class="dot" onclick="currentSlide(1)"></span>
          <span class="dot" onclick="currentSlide(2)"></span>
          <span class="dot" onclick="currentSlide(3)"></span>
        </div>
  
  
  
  
      </div>
    </div>
  
  </section>
  
  