<!-- FOOTER CTA START HERE -->
<section id="footer-cta">
    <div style="position: relative;">
        <img class="footer-image" style="width: 100%;" src="./assets/img/Aset Web AEL - Homepage-price-16.png" alt="">
        <div class="text-center cta-button-container">
            <div class="row">
                <div class="medium-12 small-7 small-centered large-centered  columns">
                    <a href="" class="cta-button">Ready to Sign Up?</a>
                </div>
            </div>
          
        </div>
    </div>
 
    <div class="price-card-conteiner" style="background-image: url('./assets/img/Aset Web AEL - Homepage-18.svg');">
        <div class="row">
            
            <div class="row">
                <div class="medium-12 small-7 small-centered large-centered  columns">
                    <div class="row medium-up-2 large-up-3">
                        <div class="columns">
                            <div class="price-card text-center">
                                <div class="title margin-bottom-1 pink-color">
                                    Monthly
                                </div>
                                <div class="subtitle purple-color">
                                    $ 10 / Month
                                </div>
                                <div class="bottom">
                                    <a href="" class="small-cta-button">Start Free Trial</a>
                                </div>
                            </div>

                        </div>
                        <div class="columns">
                            <div class="price-card text-center">
                                <div class="title margin-bottom-1 pink-color">
                                    Monthly
                                </div>
                                <div class="subtitle purple-color">
                                    $ 100 / Year
                                </div>
                                <div class="promotion">
                                    ( $ 8.33 / Month)

                                </div>
                                <div class="discount">
                                    Save $20%
                                </div>
                                <div class="bottom">
                                    <a href="" class="small-cta-button">Start Free Trial</a>
                                </div>

                            </div>

                        </div>
                        <div class="columns">
                            <div class="price-card text-center">
                                <div class="title margin-bottom-1 pink-color">
                                    Monthly
                                </div>
                                <div class="subtitle purple-color">
                                    $ 100 / Year
                                </div>
                                <div class="promotion">
                                    ( $ 8.33 / Month)

                                </div>
                                <div class="discount">
                                    Save $20%
                                </div>
                                <div class="bottom">
                                    <a href="" class="small-cta-button">Start Free Trial</a>
                                </div>

                            </div>

                        </div>

                    </div>
                </div>
            </div>
            <div class="medium-10 large-8 large-centered small-7 small-centered large-centered columns text-center">
              
                <div class="padding-center">
                    <div class="row medium-up-2 large-up-2">
                     
                        <div class="columns">
                            <div class="price-card text-center">
                                <div class="title margin-bottom-1 pink-color">
                                    Monthly
                                </div>
                                <div class="subtitle purple-color">
                                    $ 100 / Year
                                </div>
                                <div class="promotion">
                                    ( $ 8.33 / Month)

                                </div>
                                <div class="discount">
                                    Save $20%
                                </div>
                                <div class="bottom">
                                    <a href="" class="small-cta-button">Start Free Trial</a>
                                </div>

                            </div>

                        </div>
                        <div class="columns">
                            <div class="price-card text-center">
                                <div class="title margin-bottom-1 pink-color">
                                    Monthly
                                </div>
                                <div class="subtitle purple-color">
                                    $ 100 / Year
                                </div>
                                <div class="promotion">
                                    ( $ 8.33 / Month)

                                </div>
                                <div class="discount">
                                    Save $20%
                                </div>
                                <div class="bottom">
                                    <a href="" class="small-cta-button">Start Free Trial</a>
                                </div>

                            </div>

                        </div>

                    </div>

                   
                </div>

            </div>

        </div>
    </div>

</section>
<!-- FOOTER CTA END HERE -->

<!-- FOOTER STAT HERE -->
<footer class="padding-center">
    <div class="row">
        <div class="large-12 columns">
            <div class="footer-menu-container margin-bottom-1">
                <div class="row">
                    <div class="large-3 columns text-center medium-text-left">
                        <a href="">
                            <img class="margin-bottom-2" height="200" width="200"
                                src="./assets/img/Aset Web AEL - Homepage-ubah-Logo AEL-19.svg" alt="">
                        </a>
                    </div>

                    <div class="large-9 columns">
                        <div class="row medium-up-4 large-up-4 small-up-2">
                            <div class="columns margin-bottom-1">
                                <h5>Learn & Teach</h5>
                                <ul class="menu vertical">
                                    <li><a href="#">Programs</a></li>
                                    <li><a href="#">Learning Experience</a></li>
                                    <li><a href="#">Teachers</a></li>
                                </ul>
                            </div>
                            <div class="columns margin-bottom-1">
                                <h5>About</h5>
                                <ul class="menu vertical">
                                    <li><a href="#">About Us</a></li>
                                    <li><a href="#">Join Ace Early Learning</a></li>
                                    <li><a href="#">Contact Us</a></li>
                                </ul>
                            </div>
                            <div class="columns margin-bottom-1">
                                <h5>Local Sites</h5>
                                <ul class="menu vertical  margin-bottom-1">
                                    <li><a href="#">国际中文</a></li>
                                    <li><a href="#">Singapore</a></li>
                                    <li><a href="#">Indonesia</a></li>
                                </ul>
                                <div class="show-for-small-only">
                                    <ul class="menu vertical">
                                        <li><a href="#">Terms and Condition</a></li>
                                        <li><a href="#">Privacy Policy</a></li>
                                        <li><a href="#">Career</a></li>
                                    </ul>
                                </div>

                            </div>

                            <div class="columns margin-bottom-1">
                                <h5>Download Now</h5>
                                <a href="">
                                    <img class="margin-bottom-1" height="50" width="200"
                                        src="./assets/img/Aset Web AEL - Homepage-20.svg" alt="">
                                </a>
                                <h5>Find us on</h5>
                            
                                <ul class="menu">
                                    <li class="margin-right-05"><a href="#"> <img height="15" width="15"
                                                src="./assets/img/sosmed logo-98.svg" alt="">
                                            Instagram</a></li>
                                    <li><a href="#"> <img height="15" width="15"
                                                src="./assets/img/sosmed logo-99.svg" alt=""> Facebook </a>
                                            </li>
                                   
                                </ul>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row show-for-medium">
                <div class="large-8 columns">
                    <ul class="menu small-vertical">
                        <li class="margin-right-1"><a href="#">2021. ACE Early Learning </a></li>
                        <li class="margin-right-1 show-for-large"><a href="">|</a></li>
                        <li class="margin-right-1"> <a href="">Terms and Condition</a> </li>
                        <li class="margin-right-1 show-for-large"><a href="">|</a></li>
                        <li class="margin-right-1"> <a href="">Privacy Policy</a> </li>
                        <li class="margin-right-1 show-for-large"><a href="">|</a></li>
                        <li class="margin-right-1"> <a href="">Career</a> </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</footer>
<!-- FOOTER END HERE -->




<script>
    var slideIndex = 1;
    showSlides(slideIndex);
  
    // Next/previous controls
    function plusSlides(n) {
      showSlides(slideIndex += n);
    }
  
    // Thumbnail image controls
    function currentSlide(n) {
      showSlides(slideIndex = n);
    }
  
    function showSlides(n) {
      var i;
      var slides = document.getElementsByClassName("mySlides");
      var dots = document.getElementsByClassName("dot");
      if (n > slides.length) {
        slideIndex = 1
      }
      if (n < 1) {
        slideIndex = slides.length
      }
      for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";
      }
      for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" active", "");
      }
      slides[slideIndex - 1].style.display = "block";
      dots[slideIndex - 1].className += " active";
    }


    function toggleMenu() {
     
   var element = document.getElementsByClassName("mini-menu-container");
   element.classList.toggle("show");

}
  </script>