<!-- HEADER START HERE -->
<header>
    <!-- DESKTOP NAVIGATION START HERE -->
    <div class="row show-for-large">
        <div class="medium-3 columns">
            <a href="">

                <img src="./assets/img/Aset Web AEL - Homepage-ubah-Logo AEL-19.svg" alt="">

            </a>
        </div>
        <div class="medium-9 columns">
            <ul class="menu align-right main-menu-container">
                <li><a href="">Why Us</a> </li>
                <li><a href="">About Ace Early Learning</a> </li>
                <li><a href="">How to Attend Class?</a> </li>
                <li><a href="">Refer a Friend</a> </li>
                <li><a class="language-menu"> <span class="site-option">EN <svg xmlns="http://www.w3.org/2000/svg" width="12.008"
                                height="10.4" viewBox="0 0 12.008 10.4">
                                <path id="Path_329" data-name="Path 329" d="M3522.174,53.055l6-10.4H3516.17Z"
                                    transform="translate(-3516.17 -42.655)" fill="#590c96" />
                            </svg>
                        </span> </a> </li>

                    <div class="language-menu-container" style="display: none;">
                        <ul class="menu vertical">
                            <li><a href="">Indonesia</a></li>
                            <li><a href="">English</a></li>
                            <li><a href="">Mandarin</a></li>
                        </ul>
                    </div>
            </ul>
        </div>

    </div>
    <!-- DESKTOP NAVIGATION START HERE -->

    <!-- MOBILE NAVIGATION START HERE -->
    <div class="mobile-navigation-bar hide-for-large">
        <div class="row ">
            <div class="medium-12 columns">
                <div class="flex-container">
                    <div class="flex-item flex-1">
                        <a href="">

                            <img width="125" height="56" src="./assets/img/Aset Web AEL - Homepage-ubah-Logo AEL-19.svg"
                                alt="">

                        </a>
                    </div>
                    <div class="flex-item flex-1 text-right">
                        <a class="menu-burger">
                            <img height="20" width="20" src="./assets/img/Group 184.svg" alt="">
                        </a>

                    </div>
                </div>

                <!-- MOBILE NAVIGATION MENU START HERE -->

                <div class="mini-menu-container fade" style="display: none;">
                    <!-- Remove hide class to show menu ( use js toggle )-->
                    <ul class="menu vertical">
                        <li><a href="">Why Us</a> </li>
                        <li><a href="">About Ace Early Learning</a> </li>
                        <li><a href="">How to Attend Class?</a> </li>
                        <li><a href="">Refer a Friend</a> </li>
                    </ul>
                </div>
                <!-- MOBILE NAVIGATION MENU START HERE -->


            </div>
        </div>
    </div>
    <!-- MOBILE NAVIGATION END HERE -->

</header>
<!-- HEADER END HERE -->

<style>
    @font-face {
    font-family: 'Sofia';
    src: url('../assets/font/Mostardesign\ -\ Sofia\ Pro\ Soft\ Bold.woff');
    font-weight: 700;
    font-style: bold;
  
}




@font-face {
    font-family: 'Sofia';
    src: url('../assets/font/Mostardesign\ -\ Sofia\ Pro\ Soft\ Regular.woff');
    font-weight: 500;
    font-style: medium;
  
}
</style>